* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", "san-serif";
    /* min-height: 2000px; */
}

a {
    text-decoration: none;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 50px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    border-radius: 25px;
    background: #171100;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    padding: 12px 24px;
}

.row {
    display: flex;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

/* ------------------------------ Header ------------------------------ */
.header {
    background-color: #fffcf4;
    padding-top: 24px;
    position: sticky;
    top: -24px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.header .logo {
    color: #171100;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41667; /* 141.667% */
}

.header .nav-bar {
    margin-left: auto;
    display: flex;
}

.header .nav-item a {
    padding: 26px 21px;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.nav-item a:hover,
.nav-item a.active {
    position: relative;
    color: #171100;
    font-size: 1.6rem;
    font-style: normal;
    line-height: 1.75;
    text-shadow: 1px 0px 0px currentColor;
}

.nav-item a.active::after {
    position: absolute;
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background-color: #171100;
    border-radius: 1px;
    left: 21px;
    bottom: 26px;
}

.btn.sign-up {
    width: 144px;
    height: 50px;
    border-radius: 24.5px;
    background: #171100;
    pad: 11px 41px;
    margin-left: 49px;
}

.btn.sign-up:hover {
    opacity: 0.7;
}

/* ------------------------------ Hero ------------------------------ */
.hero {
    padding: 52px 0 65px;
    background-color: #fffcf4;
}

.hero .hero-body {
    display: flex;
}

.hero .hero-img .image-wrap {
    position: relative;
    display: block;
}

.hero .hero-img .image {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.hero .courses {
    position: absolute;
    display: flex;
    width: 270px;
    padding: 24px 0 24px 24px;
    left: 300px;
    bottom: 48px;
    gap: 22px;
    flex-direction: column;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

/* .hero .courses .row:not(:first-child) {
    margin-top: 14px;
} */

.hero .courses .row {
    gap: 16px;
}

.course-info .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.course-info .title {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}

.hero .hero-info {
    width: 470px;
    margin-left: 230px;
    margin-top: 64px;
}

.hero-info .title {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17241; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero-info p.desc {
    margin-top: 22px;
    color: #5f5b53;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero .actions {
    display: flex;
    gap: 28px;
    margin-top: 38px;
}

.hero .actions .btn {
    padding: 17px 34px;
    border-radius: 32px;
    background: var(--primary-color);
    color: #fff;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}

.hero .actions .play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.play-video .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.play-video .desc {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6667; /* 166.667% */
}

.hero .stats {
    margin-top: 48px;
}

.hero .stats .row {
    gap: 29px;
    margin-top: 8px;
}

.hero .stats-title {
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}

.stats .quantity {
    display: inline-block;
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.22727; /* 122.727% */
}

.stats .quantity-desc {
    display: inline-block;
    margin-left: 10px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66667;
}

/* ------------------------------ Popular ------------------------------ */
.popular {
    padding: 200px 0;
}

.popular .popular-main {
    display: inline-block;
}

.popular .popular-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-header .popular-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popular-info .title {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.26316; /* 126.316% */
    letter-spacing: -0.76px;
    padding-right: 20px;
}

.popular-info .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.66667; /* 166.667% */
}

.popular-action {
    display: flex;
    gap: 18px;
}
.popular-action .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.popular-action .icon:hover {
    background-color: var(--primary-color);
    color: white;
}

.popular .popular-body {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    /* align-content: stretch; */
}

.popular-body .popular-item {
    flex: 1;
    width: 370px;
    min-height: 466px;
    border-radius: 12px;
    background: #fff;
    border: 1px solid #e2dfda;
}

.popular-body .popular-item:hover {
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #fff;
}

.popular-item .image {
    display: block;
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}

.popular-item .body {
    padding: 16px 22px 22px;
    /* min-height: calc(466px - 278px); */
    border-radius: 12px;
}

.popular-item .body .row {
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.popular-item .body .title a {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
    word-break: break-all;
}

.popular-item .body .rating.row {
    align-items: center;
    gap: 6px;
}

.popular-item .body .rate {
    color: #fea31b;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.popular-item .body .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
    word-break: break-all;
}

.popular-item .body .bottom {
    margin-top: 12px;
}

.popular-item .body .price {
    color: #171100;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66667; /* 166.667% */
}

.popular-item .body .btn {
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.85714; /* 185.714% */
}

.popular-item .body .btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* ------------------------------ Feedback ------------------------------ */
.feedback {
    padding: 96px 0;
    background-color: #2e2100;
}


.feedback .feedback-list{
    display: flex;
    overflow: hidden;
}

.feedback .feedback-item{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    justify-content: space-between;
    transform: translateX(-100%);
    transition: all ease .3s;
}

.feedback .user {
    width: 25%;
}
.feedback .user-feedback{
    width: 66%;
}

.feedback .user .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback .user .name {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.41667; /* 141.667% */
}

.feedback .user .position {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}

.feedback .user .quantities {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.user .quantities .qty-item {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #634700;
}

.user .quantities .active {
    background-color: #ffb900;
}

.feedback .user-feedback .content-feedback {
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53846; /* 153.846% */
}
